.block
	.secondary-navigation
		%ul.wat-cf
			%li.first= link_to "Aktywne zgłoszenia", root_path
			%li.active= link_to "Archiwum", archive_path
			%li= link_to "Nowe zgłoszenie", new_application_path
	.content
		%h2 Archiwum
		.inner
			%ul.list
				= render :partial => @applications
			.actions-bar.wat-cf
				.actions
				= will_paginate @applications

- content_for :sidebar do
	= render :partial => "dashboard/sidebar"