<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @application.user_id %>
</p>

<p>
  <b>Topic:</b>
  <%= @application.topic %>
</p>

<p>
  <b>Reaction:</b>
  <%= @application.reaction %>
</p>

<p>
  <b>Closed by user:</b>
  <%= @application.closed_by_user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @application.category_id %>
</p>

<p>
  <b>To user:</b>
  <%= @application.to_user_id %>
</p>

<p>
  <b>Important:</b>
  <%= @application.important %>
</p>

<p>
  <b>Content:</b>
  <%= @application.content %>
</p>

<p>
  <b>Close date:</b>
  <%= @application.close_date %>
</p>

<p>
  <b>Execution:</b>
  <%= @application.execution %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
