.group
	= f.label :phone, "Telefon", :class => :label
	= f.text_field :phone, :class => 'text_field'
	%span.description np. 034 263 7673
.group
	= f.label :name, "Imię", :class => :label
	= f.text_field :name, :class => 'text_field'
	%span.description np: Jan
.group
	= f.label :surname, "Nazwisko", :class => :label
	= f.text_field :surname, :class => 'text_field'
	%span.description np: Kowalski
.group
	= f.label :about, "O mnie", :class => :label
	= f.text_area :about, :class => 'text_area'
.group
	= f.label :about_band, "O zespole", :class => :label
	= f.text_area :about_band, :class => 'text_area'
- if @user.role?(User::ADMIN)
	.group
		= f.label :about_admin, "O adminie", :class => :label
		= f.text_area :about_admin, :class => 'text_area'
- if self.current_user.role?(User::ADMIN)
	.group
		= f.label :role, "Uprawnienia", :class => :label
		= f.select :role, [["Admin", User::ADMIN], ["Członek Zespołu", User::STAFF], ["Normalny", User::NORMAL]]
.group.navform.wat-cf
	%button.button{:type => "submit"}
		= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
		Zapisz
	= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + "Anuluj", users_path, :class => "button"
