%h1= "Informacje o użytkowniku #{@user.login}"
%dl
	%dt Login
	%dd= @user.login
	%dt Imię
	%dd= @user.name
	%dt Nazwisko
	%dd= @user.surname
	%dt Email
	%dd= @user.email
	%dt Telefon
	%dd= @user.phone
	%dt Informacje
	%dd= simple_format @user.about
	%dt Informacje o zespole
	%dd= @user.about_band
	%dt Informacje o adminie
	%dd= @user.about_admin
	%dt Uprawnienia
	%dd= "#{@user.role_name} (#{@user.role})"

%p
	= link_to 'Edytuj', edit_user_path(@user)
	= link_to 'Cofnij', users_path
