.block
	.secondary-navigation
		%ul.wat-cf
			%li.first= link_to "Wszyscy użytkownicy", users_path
			%li.active= link_to "Profil", user_path
	.content
		.inner
			%p
				%b
					Login:
				= @user.username
			%p
				%b
					Email:
				= @user.email
			%p
				%b
					Telefon:
				= @user.phone
			%p
				%b
					Imię:
				= @user.name
			%p
				%b
					Nazwisko:
				= @user.surname
			%p
				%b
					O mnie:
				= @user.about
			%p
				%b
					O zespole:
				= @user.about_band
			%p
				%b
					O Adminie
				= @user.about_admin
			%p
				%b
					Uprawnienia:
				= @user.role_name

